.platforms{
    margin: 25px 0;
}

.platforms__list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 28px;
}

.platforms__img{

}

.platforms__img img{
    width: 48px;
    height: 48px;
    /* border: 2px solid black; */
    border-radius: 50%;
}