.banner-list{
    /* width: 30%; */
    
}

.banner{
    padding: 10px;
    /* border: 2px solid rgb(19, 85, 129); */
    background-color: #f2f4f6;
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.banner-title{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    position: relative;
    color: rgb(85, 85, 84);
}

.banner-title:before{
    content: '';
    position: absolute;
    transform: translateX(-50%);
    bottom: -10px;
    left: 50%;
    width: 33.333%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.479);
}