.fullpost{
    min-height: 400px;
    position: relative;
}

.fullpost__body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}

.post__img {
    width: 100%;
    height: 100%;
    min-height:480px;
    max-height: 480px;
    position: relative;
}

.post__img img{
    min-width:100%;
    min-height:100%;
    max-height: 480px;
    max-width: 100%;
    width: fit-content;
/*     border-radius: 15px; */
    object-fit: cover;
    background-attachment: scroll;
}

.post__title{
    position: absolute;
    font-size: 32px;
    max-width: 600px;
    font-weight: 700;
    bottom: 5%;
    left: 3%;
  /*   left: 50%;
    transform: translateX(-50%); */
    color: #ffff;
    text-shadow: 1px 1px 2px black;
}


.post__head{
    padding: 1% 4%;
    margin: 10px 0 20px 0;
    /* border: 1px solid #646566; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(110, 110, 110, 0.089);
    flex-wrap: wrap;
    /* flex-shrink: 1; */
}

.post__category{
    color: grey;
    font-size: 18px;
}


.post__content{
    padding: 1% 8%;

}

.post__author {
    display: flex;
    margin: 12px auto 0 auto;
}
.post__author__avatar{
    max-width: 50px;
    max-height: 50px;
}

.post__author__avatar img{
    box-shadow: 0 0 1px 3px #3a8cc8;
    border-radius: 50%;
    transition: box-shadow .25s ease-in-out;
    width: 50px;
    height: 50px;
 
}
.post__author__info {
    margin-left: 14px;
    width: 90%;
}

.post__author__name {
    font-size: 18px;
    font-weight: 500;
}
.post__author__description {
    font-size: 16px;
    color: #4d3e0096;
}
.fullpost-author-info__when {
    display: flex;
}

.post__author__date {
}
.fullpost-author-info__when-time {
    margin-left: 10px;
}

.post__description{
    color: rgb(39, 38, 38);
    font-size: 20px;
    line-height: 36px;
    font-style: italic;
    background-color: rgba(247, 241, 241, 0.521);
    padding: 1% 4%;
    position: relative;
    word-wrap: break-word;
}

.post__description img{
    width: 100%;
    max-width: 100%;
}

.post__publishData{
    text-align: center;
    margin-top: 30px;
    color: #808080;
}

.post__share{
    margin-top: 60px;
    padding: 1% 6%;
}

.fullpost-share__title{

}

.post__share__title{
    color: #808080;
    font-size: 20px;
    font-weight: 600;
}

.post__share__buttons{
    margin-top: 20px;
}

.fullpost-icon{

}

.post__control{
display: flex;
justify-content: flex-end;
margin: 0 auto;
}

.post__control-btn{

}

.post__more{
    
}

.post__more__title{
    color: #1069a5;
    font-size: 26px;
    font-weight: 600;
}

/* .fullpost-social-icon{
    width: 25%;
    padding: 20px 0;
    background-color: #f2f4f6;
    color: #424141;
    font-Weight: 700;
}
.fullpost-social-icon:hover{
    color: #ffff
} */

@media(max-width: 520px){
    .post__content{
        padding: 0;
    
    }
}


@media(max-width:990px){
    .post__control__title{
        display: none;
    }
}
