.edit{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /*  overflow-y: scroll; */
}

.item{
    margin: 20px 0;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.edit__item-avatar{

}
/* .edit__item__avatarStatus{
    color: green;
} */

.itemName{
    margin-right: 16px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(82, 80, 80);
}
.itemName i {
    color: grey;
}

.edit__item__input{

}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 14px;
    align-self: flex-end;
}



@media(max-width:520px){
    .buttonText{
        display: none;
    }
}