.footer-navigation {

}
.footer-column {
}
.footer-navigation__title {

}
.footer-navigation__content {
}
.footer-navigation__list {

}
.footer-navigation__link {
    font-size: 20px;
    list-style-type: none;

}

.footer-title{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}