.login {
}
.container {
}
.login__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
}
.login__window {
    box-shadow: 0px 5px 10px 2px rgba(24, 24, 24, 0.425);
    border-radius: 10px;
    background-color: #FFFF;
   /*  width: 30%; */
    min-width: 200px;
    margin-top: 80px;
}
.login-window__change{
 
    padding: 16px;
}
.login-window__content{
    padding: 7px 35px 25px 35px;
}
.login-change__elem{
   /*  width: 50%; */
   text-align: center;
}
.login-window__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-window__top-icon {
}
.login-window__top-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
}
.login-window__form {
    display: flex;
    flex-direction: column;
}
.login-window__bottom {
}