.footer-partners {
    text-align: center;
}
.footer-partners__title {
}
.footer-partners__content {
}
.footer-partners__list {
}
.footer-partners__row {
    display: flex;
    justify-content: center;
}
.footer-partners__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}
.footer-partners__img img{
    width: 100%;
    max-width: 130px;
    height: 100%;
    border-radius: 8px;
}