.header-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 217, 217);

    padding: 10px;
}

.header-top__title{
    font-size: 28px;
    font-weight: 700;
}

.header-top__login{

}

.header-top__login a{
    font-size: 26px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.add-post-btn{
    color: #ffff !important;
}