.title{
    font-size: 26px;
    font-weight: 500;
    color: grey;
}

.top{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #EAEAEA;
    padding: 10px;
}
.top:after{
    position: absolute;
    bottom: -16px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #66a2d3;
}

.title{
    position: relative;
}


.subtitle{
    display: flex;
    position: relative;
}


.subtitle__value{
    margin-left: 5px;
    color: grey;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px;
    margin-top: 22px;
    overflow-y: scroll;

}

/* .content::-webkit-scrollbar-thumb{
    background-color: rgba(54, 101, 230, 0.247);
} */
* {
    scrollbar-width: thin;
    scrollbar-color: #5a77f7cb orange;
  }
  
  /* Работает в Chrome, Edge и Safari */
  .content::-webkit-scrollbar {
    width: 14px;
    margin: 10px 0;
  }
  
  .content::-webkit-scrollbar-track {
    background: rgb(214, 212, 212);

  }
  
  .content::-webkit-scrollbar-thumb {
    background-color: #5a77f7cb;
    border-radius: 0px;
    
    
  }

.content__none{
    width: 60%;
    height: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.content__none img{
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.content__none span {
    color: grey;
    font-style: italic;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}


@media(max-width:520px){
    .title{
        font-size: 18px;
    }
}