.home {
    font-family: 'Source Sans Pro', sans-serif;
}

.home__content {
    background-color: rgb(236, 232, 232);
    padding: 70px 0;
    position: relative;
}



.home__start {
    width: 100%;
    height: 100vh;
    /* background-color: #0e0e22; */
    background: #0e0e22;
    position: relative;
}

.home-start__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../../../img/home-bckg2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.07;
}

.home-start__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.home-start__title {
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;

    letter-spacing: 0.4rem;
}

.home-start__title span {
    font-size: 36px;
    letter-spacing: 0.3rem;
    font-style: italic;
}

.home-start__buttons {
    width: 100%;
    max-width: 440px;
    display: flex;
    margin-top: 50px;
}

.home__line {
    text-align: center;
    width: 100%;
    height: 380px;
    /*     background-color: #008ace; */
    background-color: #1f1f4e;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
}



.home__line img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.home-line__title {
    color: #ffff;
    font-size: 54px;
    font-weight: bold;
    /*  text-align: center; */
    letter-spacing: 0.6rem;
    /*   position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%); */


}

.home-line__description {
    color: #ffff;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    width: 100%;
    max-width: 700px;
    margin-top: 50px;
    /*     position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%); */
}

.home-line__btn {
    color: rgba(255, 255, 255, 0.788);
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.719);
    border-radius: 5px;
    cursor: pointer;
}

.home__share-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.home-share__stat {
    width: 100%;
    margin-top: 30px;
    background-color: rgba(243, 241, 241, 0.685);
    padding: 30px 50px 50px 50px;
}


.home-share__title {
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    /*     max-width: 860px; */
    font-weight: 300;
    font-style: italic;
    color: rgb(28, 77, 141);
}

.home-stat__image {}

.home-stat__image img {
    width: 100%;
    max-width: 800px;
}

.home-stat__title {
    font-size: 1.9em;
    text-align: center;
    width: 100%;
    font-weight: 300;
    color: rgb(65, 63, 63);
    margin-top: 20px;
}

.home-stat__title span {
    font-weight: 700;
}

.home-stat__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 30px;


}

.home-stat__elem {
    width: 20%;
    min-width: 160px;
    text-align: center;
}

.home-stat-elem__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black
}

.home-stat-elem__data {
    margin-top: 20px;
    font-size: 1.4rem;
    background-color: #383838;
    color: white;
    padding: 16px;
}

.home-new__body {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-new__title {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: rgb(65, 63, 63);
    max-width: 700px;
    margin-bottom: 20px;
}

.home-new__btn {
    width: 33.333%;
    min-height: 300px;
}

.home-new-line {
    width: 5%;
    background-color: #1f1f4e;
    height: 2px;
    margin: 40px 0;
}

.home-new__img {
    width: 33%;
}



@media (max-width:990px) {
    .home-share__stat {
        padding: 16 0px;
    }

    .home-stat__list {
        margin-top: 0;
    }

    .home-stat__elem {
        min-width: none;
    }

    .home-stat-elem__data {
        padding: 10px;
    }

    .home-stat-elem__title {
        font-size: 18px;
    }
}

@media (max-width:768px) {
    .home-stat__list {
        flex-direction: column;
        margin-top: 0;
    }

    .home-stat__elem {
        margin-top: 30px;
    }
    .home-line__title {
        font-size: 36px;
    }
    .home-line__description{
        font-size: 22px;
    }

}

@media (max-width:520px) {
    .home-start__title {
        font-size: 34px;
    }

    .home-start__title span{
        font-size: 26px;
    }

    .home-start__buttons {
        flex-direction: column;
        align-items: center;
    }
}