.footer{
    background-color: rgb(16, 105, 165);
    margin-top: 150px;
    padding: 40px 0;
    color: white;
}

.footer-top{
    display: flex;
}

.footer-column{
    width: 33.333%;
}

.footer-bottom{
    border-top: 1px solid rgb(218, 217, 217);
    border-bottom: 1px solid rgb(218, 217, 217);
    padding: 16px 16px;
    text-align: center;
}


.footer-list{
    
}

.footer-link{
    margin: 28px 0px;
    text-align: center;
}