.footer{
    background-color: #161c26;
    /* margin-top: 150px; */
    padding: 40px 0 20px 0;
    color: white;
    position: relative;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer-column{
    width: 33.333%;
    min-width: 420px;
   /*  max-width: 300px; */
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.footer-bottom{
    border-top: 1px solid rgb(218, 217, 217);
    /* border-bottom: 1px solid rgb(218, 217, 217); */
    padding: 16px 16px 0 16px;
    text-align: center;
    color: rgb(216, 214, 214);
}


.footer-list{
    
}

.footer-link{
   /*  margin: 28px 0px; */
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}


.up{
    max-width: 48px;
    max-height: 48px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 50%;
    opacity: 1;
    transition: 0.3s;
    opacity: 0.1;
}
.up:hover{
    transform: scale(1.1);
    opacity: 0.2;
}

@media(max-width: 990px){
    .footer-top{
        flex-direction: column;
        align-items: center;
    }
    .footer-column{
        min-width: 100%;
    }
    .footer-column:last-child{
        margin-top: 40px;
    }

}

@media(max-width: 768px){
    .footer-navigation__list, .footer-social__list{
        flex-direction: column;
        align-items: center;
    }
    .footer-navigation__link, .footer-social__link{
        margin-bottom: 12px;
    }
}
