.header-bottom{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;

    padding: 10px;
}

.header-bottom__item{
    margin: 0 16px;
    font-size: 22px;
    color: white;
}
.header-bottom__item:hover{
    text-decoration: underline;
}

a{
    text-decoration: none !important;
}